body {
	margin: 0;
	font-family: "Tableau Book", Tableau, Arial, sans-serif;
}

img.homepageBanner {
	width: 100%;
}

nav, header {
    display: block;
}

header {
	text-align: center;
	background: #dbceb9;
	color: black;
	padding: 1px;
}

/*--------------------NAV------------------*/
nav {
    width: 100%;
    margin: 0;
}

nav ul {
    background-color: #072426;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul.topnav li{
    list-style: none;
    float: left;
}

ul.topnav li.topnav-right{
    float: right;
}

ul.topnav li a{
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    color: white;
}

ul.topnav a:hover{
    background-color: #dbceb9;
    color: black;  
}
